@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Jost", sans-serif;
}

.nav{
  z-index: 10001 !important;
}

.gradientBG{
  background: linear-gradient(90deg, #EE9AE5  0%, #5961F9 100%);
}

.btnprimary{
  @apply bg-secondary text-white font-medium px-3 py-2 hover:bg-indigo-600 transition-all duration-300 rounded-md;
}